@media screen and (max-width:800px){

    .title__container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        

        .clouds__img__right{
            display: none;
        }

        .clouds__img__left{
            display: none;
        }
        
        .title__jumbotron__container{
            grid-column: 1;
            grid-row: 1;
            width: 100%;
            grid-template-columns: 10% 1fr 10%;
            grid-template-rows:1fr 0.3fr 40px 0.3fr  0.3fr 2fr;
            backdrop-filter: blur(1px)brightness(0.6);
            border-top: 0px;

            .title__jumbotron__header{
                grid-column: 1/-1;
                text-align: center;
                font-size: 5vw;
                padding-left: 0; 
                
            }
            
            hr{
                grid-column: 1/-1;
                height: 1px;
                width: 50%; 
                margin: auto;
            }
    
            .title__jumbotron__paragraph-1{
                grid-column: 2;
                font-size: 4vw;
                width: 70%;
                color: rgba(255, 255, 255, 0.609);
            }
            .title__jumbotron__icons{
                grid-column: 2;
                font-size: 2vw;
                width: 60%;
                margin: auto;
                
                i{
                color: rgb(255, 255, 255);
                border: 0.1vw solid rgba(255, 255, 255, 0.445);
                padding: 3vw;
                }
            }
        }
    }
}
@media screen and (max-width:500px){

    .title__container{
        background-position: 10% 0%;
        .title__jumbotron__container{
        
            .title__jumbotron__icons{
                flex-direction: column;
                i{
                    margin: 30px;
                    font-size: 20px;
                }
                
            }
        }
    }
}