html {
  font-family: "Orbitron";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html .component__header {
  font-size: 3vw;
  text-align: center;
  font-family: "Orbitron";
  letter-spacing: 10px;
  padding: 50px 0px 20px 0px;
  color: #f6ca8f;
  -webkit-animation: flicker 2s;
          animation: flicker 2s;
  text-shadow: 0px 0px 5px #8d8d8d;
}

.title__container {
  position: relative;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0)), color-stop(29%, rgba(0, 0, 0, 0)), color-stop(49%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.5))), url("../../assets/imgs/SpaceX-Launch.jpg") no-repeat;
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 29%, rgba(0, 0, 0, 0.3) 49%, rgba(0, 0, 0, 0.5) 100%), url("../../assets/imgs/SpaceX-Launch.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.title__container .clouds__img__right {
  background: url("../../assets/imgs/clouds-right.webp");
  -webkit-filter: blur(3px) brightness(50%);
          filter: blur(3px) brightness(50%);
  background-repeat: no-repeat;
  width: 90vw;
  height: 100%;
  z-index: 3;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: -500px;
  right: 0px;
}

.title__container .clouds__img__left {
  background: url("../../assets/imgs/clouds-left.webp");
  -webkit-filter: blur(4px) brightness(50%);
          filter: blur(4px) brightness(50%);
  background-repeat: no-repeat;
  width: 100%;
  height: 1000px;
  z-index: 3;
  background-position: center;
  background-size: cover;
  position: absolute;
  bottom: -850px;
  left: -5px;
}

.title__container .title__jumbotron__container {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 20% 60% 10%;
      grid-template-columns: 10% 20% 60% 10%;
  -ms-grid-rows: 0.3fr 0.8fr 20px 0.5fr 2fr;
      grid-template-rows: 0.3fr 0.8fr 20px 0.5fr 2fr;
  position: fixed;
  border-top: 230px solid rgba(226, 226, 226, 0.23);
  color: #e7e7e7;
  font-weight: 100;
  background: rgba(0, 0, 0, 0.192);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  text-align: center;
}

.title__container .title__jumbotron__container .fade_out {
  opacity: 0;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

@-webkit-keyframes fadeOut {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 200px;
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    margin-top: 0;
    opacity: 1;
  }
  100% {
    margin-top: 200px;
    opacity: 0;
  }
}

.title__container .title__jumbotron__container .fade_in {
  opacity: 1;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  0% {
    margin-top: 200px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 1;
  }
}

.title__container .title__jumbotron__container .title__jumbotron__header {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  grid-row: 2;
  position: relative;
  z-index: 2;
  text-align: left;
  margin: auto 0;
  font-size: 2vw;
  font-family: "Orbitron";
  letter-spacing: 10px;
  padding-left: 5.5vw;
}

.title__container .title__jumbotron__container hr {
  position: relative;
  z-index: 2;
  display: block;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 3;
  grid-row: 3;
  display: block;
  position: relative;
  top: 0;
  height: 3px;
  background: rgba(255, 255, 255, 0.157);
  border: none;
  width: 95%;
}

.title__container .title__jumbotron__container .title__jumbotron__paragraph-1 {
  position: relative;
  z-index: 2;
  display: block;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 4;
  grid-row: 4;
  font-size: 1vw;
  letter-spacing: 2px;
  margin: auto;
}

.title__container .title__jumbotron__container .title__jumbotron__icons {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 5;
  grid-row: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  z-index: 2;
  list-style: none;
  font-size: 1vw;
  padding-top: 20px;
  color: white;
}

.title__container .title__jumbotron__container .title__jumbotron__icons i {
  border: 0.1vw solid rgba(255, 255, 255, 0.157);
  padding: 1vw;
  border-radius: 50%;
}

.title__container .fade_out {
  opacity: 0;
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
}

@keyframes fadeOut {
  0% {
    margin-left: 0;
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    margin-left: 200px;
    opacity: 0;
  }
}

.title__container .fade_in {
  opacity: 1;
  -webkit-animation: fadeIn 0.5s;
          animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
  0% {
    margin-left: 200px;
    overflow: hidden !important;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    margin-left: 200px;
    overflow: hidden !important;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=title.css.map */