@import '../../../app.scss';
.campsite__container{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    grid-template-rows: 2fr 1fr; 
    

    .campsite__name{
        padding-top: 20px;
        height: 100%;
        width: 100%;
        font-size: 2vw;
        color: white;
        background: rgba(0, 0, 0, 0.36);
        
    }
    
    .campsite__details__container{
        grid-column: 1/-1;
        grid-row: 2;
        background: rgba(0, 0, 0, 0.657);
        backdrop-filter: blur(2px);
        color: $primary-dark;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        height: 101%;

        h2{
            text-align: center;
            font-size: 1.3vw;
            padding: 20px;
        }
        a{
            display: block;
            text-align: center;
            text-decoration: none;
            color:white;
            margin: 20px auto 0 auto;
            font-size: 1vw;
            
        }
        
    }
    
}
