@import "../../app.scss";

.navbar__container{
    width: 60px;
    height: 100vh;
    position: fixed;
    z-index: 10;
    padding-top: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    writing-mode:vertical-lr ;
    text-orientation: upright;
    background: rgba(0, 0, 0, 0.37);
    transition: all 0.2s ease-in-out;

    
    
    .fa-rocket{
        position: absolute;
        z-index: 2;
        top: 5px;
        text-align: center;
        font-size: 30px;
        height: 60px;
        padding: 12px;
        width: 100%;
        
        color:white;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        
    }

    .fa-rocket:hover,
    .fa-rocket:focus
    {
        transform: rotate(-43deg);
        background: rgba(255, 0, 0, 0);
        color: white;
    }

    .fa-fire{
        position: absolute;
        top: 53px;
        left: 17.5px;
        font-size: 20px;
        transform: rotate(180deg);
        transition: all ease-in-out;
        color: rgba(255, 255, 255, 0);

    }
    
    .fa-rocket:hover + .fa-fire{
        color: rgb(114, 81, 81);
        animation: pulse-flame 0.8s infinite;
    }
    @keyframes pulse-flame {
        0%{
            
            
        }
        50%{
            transform: rotate(180deg) scale(1.2);
        }
        100%{
            
        }
    } 
    .navbar__sidebar-1, .navbar__sidebar-2{
        position: absolute;
        top: 0;
        left:0;
        z-index: 1;
        height: 0px;
        width: 5px;
        background: rgba(255, 255, 255, 0.061);
        transition: all 0.2s ease-in-out;
        transition-delay: 0.1s;
    }
    .navbar__sidebar-2{
        background: white;
        transition: all 0.2s ease-in-out;
        transition-delay: 0.3s;
    }

    li{
        font-weight: 900;
        color: $secondary;
        font-size: 1.7vh;
        cursor: pointer;
        transition: all 0.6s ease-in-out;
    }
    
    
    li:hover{
        color: $primary-light;
        
    }
    
    li:nth-child(3):hover ~ span{
        height: 19.3vh;
        top: 26vh;
    }
    li:nth-child(4):hover ~ span{
        height: 11.5vh;
        top: 54vh;
    }
    li:nth-child(5):hover ~ span{
        height: 23vh;
        top: 73vh;
    }
    
}

.navbar__container:hover{
    background: rgba(0, 0, 0, 0.616);
}  

 