@media screen and (max-width:500px){
    .navbar__container{
        width: 30px;
        .fa-rocket{
            left: -6px;
            font-size: 20px;
            transform: rotate(-43deg);
            
        }
        .fa-fire{
            top: 44px;
            left: 5px;
        }
        
        
        
    }
}