
$primary:#6e5653;
$primary-light: rgb(255, 255, 255);
$primary-dark: #97715b;
$secondary:#808997;

html{
    font-family: "Kodchasan";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
