
$primary:#6e5653;
$primary-light: rgb(255, 255, 255);
$primary-dark: rgb(246, 202, 143);
$secondary:#808997;
$secondary-dark:rgb(114, 81, 81);

html{
    font-family: "Kodchasan";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
