.map__container{
    width: 100%;
    height: 950px;
    background: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.849)), url('../../assets/imgs/space-background.jpg');
    background-repeat: repeat;
    background-size: cover;
    
    .map{
        width: 80vw;
        height: 200px;
        margin: auto;
    }
}
