html {
  font-family: "Orbitron";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.launch__card__container {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 5px white;
  font-family: "Orbitron";
}

.launch__card__container .main__launch__card__front {
  position: relative;
  z-index: 1;
  -ms-grid-columns: 1fr 20% 1fr;
      grid-template-columns: 1fr 20% 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  cursor: pointer;
  letter-spacing: 2px;
}

.launch__card__container .main__launch__card__front img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  grid-row: 1/-1;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.launch__card__container .main__launch__card__front .launch__details__front {
  position: relative;
  z-index: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 1;
  grid-row: 1;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 10% 1fr 10% 10%;
      grid-template-columns: 10% 10% 1fr 10% 10%;
  -ms-grid-rows: 10% 30% 5% 1fr 1fr 1fr 20% 10%;
      grid-template-rows: 10% 30% 5% 1fr 1fr 1fr 20% 10%;
  height: 100%;
  width: 100%;
  -webkit-animation: flicker 2s;
          animation: flicker 2s;
  background: black;
  text-align: center;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__card__circle {
  -ms-grid-row: 2;
  -ms-grid-row-span: 6;
  grid-row: 2/8;
  grid-column: 2/-1;
  height: 100%;
  width: 100%;
  background: url("../../assets/imgs/launches-imgs/spaceship-hud2.png");
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0.2);
          filter: brightness(0.2);
  -webkit-transform: rotate(30deg) 2s;
          transform: rotate(30deg) 2s;
  -webkit-transition: all 2s infinite;
  transition: all 2s infinite;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__card__corner__tl {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  border-left: 2px solid white;
  border-top: 2px solid white;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__card__corner__tr {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 1;
  grid-row: 1;
  border-right: 2px solid white;
  border-top: 2px solid white;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__card__corner__bl {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 8;
  grid-row: 8;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__card__corner__br {
  -ms-grid-column: 5;
  grid-column: 5;
  -ms-grid-row: 8;
  grid-row: 8;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__header {
  position: relative;
  z-index: 2;
  grid-column: 2/-1;
  -ms-grid-row: 2;
  grid-row: 2;
  text-align: center;
  font-size: 3vw;
  padding: 5px;
  padding-top: 60px;
  text-shadow: 0px 0px 5px white;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__location__front {
  -ms-grid-row: 3;
  grid-row: 3;
  grid-column: 2/-1;
  position: relative;
  font-size: 1.5vw;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__date__front {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: 2/-1;
  padding-top: 5px;
  font-size: 1vw;
  color: #f6ca8f;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__button {
  position: relative;
  z-index: 1;
  grid-column: 2/-1;
  -ms-grid-row: 6;
  grid-row: 6;
  width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 1vw;
  color: #f6ca8f;
  -webkit-transition: color 2s;
  transition: color 2s;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__button:hover,
.launch__card__container .main__launch__card__front .launch__details__front .launch__button:focus {
  text-decoration: underline;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__countdown {
  position: relative;
  z-index: 1;
  grid-column: 2/-1;
  -ms-grid-row: 8;
  grid-row: 8;
  width: 100%;
  height: 100%;
  padding-top: 25px;
  font-size: 1vw;
}

.launch__card__container .main__launch__card__front .launch__details__front .launch__countdown span {
  color: #f6ca8f;
}

.launch__card__container .main__launch__card__back {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  -ms-grid-columns: 5%  1fr 5%;
      grid-template-columns: 5%  1fr 5%;
  -ms-grid-rows: 5% 1fr 5% 1fr 5%;
      grid-template-rows: 5% 1fr 5% 1fr 5%;
  background: rgba(0, 0, 0, 0.37);
  opacity: 1;
  text-shadow: 0px 0px 5px white;
  cursor: pointer;
}

.launch__card__container .main__launch__card__back .launch__header {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-animation: flicker 2s;
          animation: flicker 2s;
}

.launch__card__container .main__launch__card__back .launch__details__back {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
  list-style: none;
  -webkit-animation: flicker 2s;
          animation: flicker 2s;
  padding: 40px;
  letter-spacing: 2px;
}

.launch__card__container .main__launch__card__back .launch__details__back span {
  color: #f6ca8f;
}

.launch__card__container .main__launch__card__back .launch__campsite-info__back {
  text-align: center;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
}

.launch__card__container .main__launch__card__back .launch__campsite-info__back .launch__campsite-name__back {
  padding: 10px;
}

.launch__card__container .main__launch__card__back .launch__campsite-info__back .launch__campsite-img__back {
  background-size: contain;
  height: 20vw;
  width: 40vw;
}

.hidden {
  display: none;
}

.active {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  -webkit-animation: slideIn 1s;
          animation: slideIn 1s;
  color: white;
}

@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0) !important;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    color: rgba(255, 255, 255, 0) !important;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    opacity: 0;
    color: rgba(255, 255, 255, 0) !important;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  90% {
    color: rgba(255, 255, 255, 0) !important;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 5px white;
  }
  2% {
    opacity: 0.3;
    text-shadow: 0px 0px 5px white;
  }
  8% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 5px white;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px 5px white;
  }
  20% {
    opacity: 0.6;
    text-shadow: 0px 0px 5px white;
  }
  25% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  30% {
    opacity: .2;
    text-shadow: 0px 0px 5px white;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 5px white;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 5px white;
  }
  77% {
    opacity: .5;
    text-shadow: 0px 0px 5px white;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px white;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.1;
    text-shadow: 0px 0px 5px white;
  }
  2% {
    opacity: 0.3;
    text-shadow: 0px 0px 5px white;
  }
  8% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  9% {
    opacity: 1;
    text-shadow: 0px 0px 5px white;
  }
  12% {
    opacity: 0.1;
    text-shadow: 0px 0px 5px white;
  }
  20% {
    opacity: 0.6;
    text-shadow: 0px 0px 5px white;
  }
  25% {
    opacity: 0;
    text-shadow: 0px 0px 5px white;
  }
  30% {
    opacity: .2;
    text-shadow: 0px 0px 5px white;
  }
  70% {
    opacity: 0.7;
    text-shadow: 0px 0px 5px white;
  }
  72% {
    opacity: 0.2;
    text-shadow: 0px 0px 5px white;
  }
  77% {
    opacity: .5;
    text-shadow: 0px 0px 5px white;
  }
  100% {
    opacity: 1;
    text-shadow: 0px 0px 5px white;
  }
}
/*# sourceMappingURL=main_launch_card.css.map */